[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SeuratExplorer"]
	path = SeuratExplorer
	url = https://github.com/fentouxungui/seuratexplorer
[submodule "presto"]
	path = presto
	url = https://github.com/immunogenomics/presto
	registered = false
